<h1>Edit Dungeon Master</h1>

<%= form_with url: "/dungeon_masters/#{@dm.id}", method: :patch, local: true do |form| %>
  <p><h4><%= form.label :name %></h4></p>
  <p><%= form.text_field :name %></p>
  <p><h4><%= form.label 'Number of Players' %></h4></p>
  <p><%= form.text_field :number_of_players %></p>
  <p><h4><%= form.label 'Still Active?' %></h4></p>
  <p><%= form.text_field :dm_active %></p>
  <p><h4><%= form.label 'Level Comfortability Range (low, mid, high)' %></h4></p>
  <p><%= form.text_field :level_range %></p>
  <p><%= form.submit "Update Dungeon Master" %></p>
<% end %>