<h1><%= @dm.name %> </h1>

<%= link_to "#{@dm.name}'s Adventurers", "/dungeon_masters/#{@dm.id}/player_characters" %>

<p>ID: <%= @dm.id %></p>
<p>Player Count: <%= @dm.number_of_players %></p>
<p>Still Active?: <%= @dm.dm_active %></p>
<p>Level Range Comfortability (high, med, low): <%= @dm.level_range %></p>
<p>Number of Players: <%= @dm.player_count %></p>
<p>Created at: <%= @dm.created_at %></p>
<p>Updated at: <%= @dm.updated_at %></p>

<p><%= link_to  "Edit #{@dm.name}", "/dungeon_masters/#{@dm.id}/edit"  %></p>
<p><%= link_to  "Delete #{@dm.name}", "/dungeon_masters/#{@dm.id}", method: :delete  %></p>
