<h1><%= @pc.player_name %></h1>
<p>ID: <%= @pc.id %></p>
<p>Character Name: <%= @pc.character_name %></p>
<p>Character Age: <%= @pc.age %></p>
<p>Character Level: <%= @pc.character_level %></p>
<p>Is Character Alive?: <%= @pc.is_alive %></p>
<p>Created at: <%= @pc.created_at %></p>
<p>Updated at: <%= @pc.updated_at %></p>