<!DOCTYPE html>
<html>
  <head>
    <title>DmAndAdventurers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to "Adventurers", "/player_characters" %>
    <%= link_to "Dungeon Masters", "/dungeon_masters" %>
    <%= yield %>
  </body>
</html>
